body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  text-align: center;
}

:root {
  --primary_brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F42;
  --hero-background: #2E2F42;
  --white-background: #FFFFFF;
  --modal-background: #FCFCFC;
}


/* Top Page */

.page-nav {
  background: var(--white-background);
  display: flex;
  align-items: center;
}


.link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.pages.link{
  padding: 24px 0;
}
.list {
  display: flex;
  list-style: none;
  margin:0;
  padding-left: 0;
  gap: 24px;
}
.list:last-child{
  padding: 24px 0
}
/* Обьедененные селекторы, селектор тега юл и 2 селектора класса т.е. повысили специфичность*/
ul.list.header-list {
  gap: 40px;
}

li.list-item{
  width: calc((100% - 72px) / 4);
}

li.list-item-portfolio{
  width: calc((100% - 48px) / 3);
}
/* Header */
.header{
  border-bottom: 1px solid #e7e9fc;
}

.list-portfolio{
  gap: 40px;
}

.header-list-portfolio{
  justify-content: center;
  margin-bottom: 72px;
  flex-wrap: wrap;
  row-gap: 48px;
}

/* Logo */

.logotype {
  color: var(--primary_brand);
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  display: inline-block;

  display: flex;
width: 44px;
height: 21px;
flex-direction: column;
justify-content: center;
}


.logo-studio {
  font-family: 'Raleway', sans-serif;
  color: var(--dark);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.1666;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  display: flex;
width: 44px;
height: 21px;
flex-direction: column;
justify-content: center;
}

/* Address */
.address {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em; 
}

.address:hover,
.address:focus {
  color: var(--pressed-state);
}


.first-part.section {
  background-color: var(--dark);
  padding: 188px 0;
}

.second-part.section {
  padding: 120px 0;
}
/* Team */
.our-team {
  background-color: var(--light);
  padding: 120px 0;
  /* border-radius: 0px 0px 4px 4px; */
}

.team-box {
  background-color: var(--white-background);
  display: inline-flex;
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 0px 0px 4px 4px;
/* gap: 32px; */
}

.portfol-image-list{
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 96px;
  padding-bottom: 120px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px
}

/* Header 1 */
.header-top {
  color: var(--white-background);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 32px;
}

/* Header 2 */
.header-mid {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* Header 3 */
.header-end {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

/* Header 4 */

/* Header 5 */
.list-portfolio-container{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
/* Body */
.body {
  color: #434455;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  max-width: 264px;
}


.pages {
  color: var(--dark);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.pages:hover, 
.pages:focus {
  color:var(--pressed-state);
}


.button-portfolio {
  font-family: 'Roboto', sans-serif;
  color: var(--primary_brand);
  background-color: var(--light);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border: 1px solid transparent
}

.orders {
  font-family: "Roboto", sans-serif;
  color: var(--white-background);
  background-color: var(--primary_brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.orders:hover,
.orders:focus {
  
  background-color: var(--pressed-state);
  color: var(--white-background);
}


/* Footer */

.ftr-page {
  background: var(--dark);
  padding: 100px 0;
}

.ftr-page-text {
  color: var(--light);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.ftr-logo-studio {
  color: var(--light);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.1666;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

img{
  display: block;
}

/* h1,h2,h3,h4,h5,h6,p {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	} */

  


.container { 
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  }
  

  .visually-hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
    }

    .section{
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .team-container{
      padding: 32px 0;
    }