body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

:root {
  --primary_brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F42;
  --hero-background: #2E2F42;
  --white-background: #FFFFFF;
  --modal-background: #FCFCFC;
}


/* Top Page */

.page-nav {
  background: var(--white-background);
}


.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin:0;
  padding-left: 0;
}

/* Header */

/* Logo */

.logotype {
  color: var(--primary_brand);
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
header{
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  color: var(--dark);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.1666;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/* Address */
.address {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em; 
}

.address:hover,
.address:focus {
  color: var(--pressed-state);
}


.first-part {
  background-color: var(--dark);

}

/* Team */
.our-team {
  background-color: var(--light);

}

.team-box {
  background-color: var(--white-background);
  display: inline-flex;
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
}

.header-top {
  color: var(--white-background);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 32px;
}

/* Header 2 */
.header-mid {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Header 3 */
.header-end {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

/* Body */
.body {
  color: #434455;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  max-width: 264px;
}


.pages {
  color: var(--dark);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.pages:hover, 
.pages:focus {
  color:var(--pressed-state);
}


.button-portfolio {
  font-family: 'Roboto', sans-serif;
  color: var(--primary_brand);
  background-color: var(--light);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

.orders {
  font-family: "Roboto", sans-serif;
  color: var(--white-background);
  background-color: var(--primary_brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.orders:hover,
.orders:focus {
  
  background-color: var(--pressed-state);
  color: var(--white-background);
}


/* Footer */

.ftr-page {
  background: var(--dark);
}

.ftr-page-text {
  color: var(--light);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.ftr-logo-studio {
  color: var(--light);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.1666;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

img{
  display: block;
}

/* h1,h2,h3,h4,h5,h6,p {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	} */

  


.container { 
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    li{
      display: inline-block;
      flex-direction: row;
      justify-content: center;
    }

    .section{
      padding-top: 120px;
      padding-bottom: 120px;
    }